$page-content-bg: #fff !default;
$page-content-color: #000;
$page-content-transition-duration: 0.15s !default;

$zindex-page-content: 1000 !default;

//dots
$dot-radius: 10px !default;
$left-dot-bg: #4fc3f7 !default;
$right-dot-bg: #6cc88a !default;
$dot-transition-duration: 0.6s !default;

